@charset "utf-8";
/* CSS Document */
*{margin:0px;
	padding:0px;}

#all{ width:1000px; 
	height:1335px; 
	margin:auto; }
#header { width:1000px;
		height:126px;
		text-align:center;
		color:#00F;
		background-image:url(trangchu/img/gradient.jpg)}
#nav{width:1000px;
	height:60px; float:left; 
	background-color:#333 }
#nav ul{ list-style-type:none}
#nav ul li{display:inline-block;
			width:200px;
			height:60px;
			line-height:60px;
			text-align:center;
			margin-left:35px}
#nav ul li a{color:#FFF;
			text-decoration:none;}
#nav ul li a:hover{color:#000}
#nav ul li:hover{background-color:#999}
#search {width:1000px; height:41px; float:left;
		background-color:#fff;
		padding-top:30px}
		
#all2{background-color:#ededed;
		width:1000px; height:auto;}

#clr{ clear:both;}
span{color:red;}
#n1{text-decoration:line-through;}
#menu{width:1000px; height:30px; background-color:#333}
#menu ul{ list-style-type:none}
#menu ul li{display:inline-block;
			width:200px;
			height:30px;
			line-height:30px;
			text-align:center;
			margin-left:35px}
#menu ul li a{color:#FFF;
			text-decoration:none;}
#menu ul li a:hover{color:#000}
#menu ul li:hover{background-color:#999}
#footer{width:1000px; height:298px;
		text-align:center;
		font-weight:bold}
